<%= form_for comment, html: {class: 'new'} do |f| %>
  <% if comment.errors.any? %>
    <p><%=pluralize(comment.errors.count, "error") %> prevented this post from saving.</p>

    <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
  <%end%>

  <p>
    <%=f.label :body %><br>
    <%=f.text_field :body %>
  </p>

   <p>
    <%=f.hidden_field :user_id, :value => current_user.id %><br>
  </p>

  <p>
    <%=f.hidden_field :review_id, :value => @review_id %><br>
  </p>
  </p>

   <p class="submit-comment">
    <%=f.submit %>
  </p>
<% end %>
