<h1><%= @film.title.capitalize %></h1>

<% if @film.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@film.errors.count, "error") %></h2>

    <ul>
    <% @film.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div id="content">
  <h3><%= @film.description %></h3>

  <ul class="list">
    <p>Writers:<li><%= @film.writers %></li></p>
    <p>Actors:<li><%= @film.actors %></li></p>
    <p>Director:<li><%= @film.director %></li></p>
  </ul>

</div>

<hr>

<h1>Reviews</h1>

<%if logged_in?%>
  <%= link_to 'Leave A Review', "/reviews/new?film_id=#{@film.id}" %>
<%end%>

<%@film.reviews.each do |review|%>
  <%=render partial: 'reviews/show', locals: {review: review}%>
<%end%>
