<h1><%= @film.title.upcase %></h1>

<% if @film.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@film.errors.count, "error") %></h2>

    <ul>
    <% @film.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div id="film-info-div">
  <ul>
    <p><span class="underline-span">Description:</span> <%= @film.description %></p>
      <p><li><span class="underline-span">Written by:</span> <%= @film.writers %></li></p>
      <li><p><span class="underline-span">Starring:</span> <%= @film.actors %></li></p>
      <li><p><span class="underline-span">Directed by:</span> <%= @film.director %></li></p>
      <li><p><span class="underline-span">Rating:</span> <%= @film.round_to_fifth %></li></p>
    </div>
  </ul>

</div>

<hr>
  <h1>REVIEWS</h1>
<div class="reviews-container">
    <%if logged_in?%>
      <button class="review-button reviews"><%= link_to 'REVIEW THIS FILM', "/reviews/new?film_id=#{@film.id}", id: "#{@film.id}" %></button>
    <%end%>


    <%@film.reviews.each do |review|%>
      <%=render partial: 'reviews/show', locals: {review: review}%>
    <%end%>
</div>
