<div>

  <h1><%= @category.name.upcase %></h1>

    <ul id="film-list">
      <% @category_films.each do |film| %>
      <div class="film-div">
      <li> <h3><%= link_to "#{film.title.upcase}", film_path(film) %></h3></li>
      <li> <span class="underline-span">Description:</span> <%= film.description%></li><br>
      <li> <span class="underline-span">Rating:</span> <%= film.round_to_fifth%> stars</li>
       </div>
      <% end %>

    </ul>


    <%= link_to "Back to category listing", categories_path %>

</div>
