<h2 class="review-title-header"><%=review.title.upcase%></h2>
<p><%=review.body%></p>


<h3>COMMENTS</h3>
<div class="comment-holder" id="<%=review.id%>">
  <% review.comments.each do |comment| %>
    <%=render partial: 'comments/show', locals: {comment: comment}%>
  <% end %>


<%if logged_in?%>

<button class="review-button comments" id="button<%=review.id%>">
  <%= link_to 'COMMENT ON THIS REVIEW', "/comments/new?review_id=#{review.id}", id: "#{review.id}"%></button>
<%end%>
</div>
