<!DOCTYPE html>
<html>
<head>
  <title>LesFilmFest</title>
  <link href='https://fonts.googleapis.com/css?family=Balthazar' rel='stylesheet' type='text/css'>  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav id="user-menu">
      <ul class="list" id="index">
      <% if logged_in? %>
        <li><%= link_to 'home', categories_path %></li>
        <li>Welcome, <%= current_user.username.capitalize %></li>
        <li><%= link_to 'log out', logout_path, method: "delete" %></li>
      <% else %>
        <li><%= link_to 'home', categories_path %></li>
        <li><%= link_to 'sign up', new_user_path %></li>
        <li><%= link_to 'login', login_path %></li>
      <% end %>
      </ul>
    </nav>

    <nav id="nav-bar">
      <ul class="list">
        <li class="link"><%= link_to 'Film Categories', categories_path %></li>
        <li class="link"><%= link_to "Films", films_path %></li>
        <%if logged_in? %>
        <li class="link"><%= link_to "My Page", user_path(current_user) %></li>
        <% end %>
      </ul>
    </nav>
  </header>



<%= yield %>

  <footer>
    <h4>(C) Megan, Christyn, Brian, Adam</h4>
    <a href="https://github.com/ChristynBudzyna/les-film-fest-3">Our Code</a>

  </footer>
</body>
</html>
