<!DOCTYPE html>
<html>
<head>
  <title>LesFilmFest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Didact+Gothic' rel='stylesheet' type='text/css'>
</head>
<body>
  <header>

    <nav id="user-nav">
      <ul class="list" id="index">
      <% if logged_in? %>
          <li id="main-header">LES FILM FEST 2016</li>
<<<<<<< HEAD
          <div class="nav-div"><li><%= link_to 'Home', categories_path %></li></div>
           <div class="nav-div"><li><%= link_to 'Film Categories', categories_path %></li></div>
          <div class="nav-div"><li><%= link_to "All Films", films_path %></li></div>
          <div class="nav-div"><li class="link"><%= link_to "My Page", user_path(current_user) %></li></div>
          <div class="nav-div"><li><%= link_to 'Log Out', logout_path, method: "delete" %></li></div>
      <% else %>
          <li id="main-header">LES FILM FEST 2016</li>
          <div class="nav-div"><li><%= link_to 'Home', categories_path %></li></div>
          <div class="nav-div"><li><%= link_to 'Film Categories', categories_path %></li></div>
          <div class="nav-div"><li><%= link_to "All Films", films_path %></li></div>
          <div class="nav-div"><li><%= link_to 'Sign Up', new_user_path %></li></div>
          <div class="nav-div"><li><%= link_to 'Login', login_path %></li></div>
      <% end %>
      </ul>
    </nav>
  </header>



<%= yield %>

  <footer>
    <ul id="footer-list">
      <li class="footer-text">(C) Megan, Christyn, Brian, Adam</li>
      <li class="footer-text"> |</li>
      <li class="footer-text"> <a href="https://github.com/ChristynBudzyna/les-film-fest-3">Our Code</a></li>
    </ul>
  </footer>
</body>
</html>
