<!DOCTYPE html>
<html>
<head>
  <title>LesFilmFest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
  <header>

    <nav id="user-nav">
      <ul class="list" id="index">
      <% if logged_in? %>
          <li id="main-header">LES FILM FEST 2016</li>
          <div class="nav-div"><li><%= link_to 'home', categories_path %></li></div>
           <div class="nav-div"><li><%= link_to 'film categories', categories_path %></li></div>
          <div class="nav-div"><li><%= link_to "all films", films_path %></li></div>
          <div class="nav-div"><li class="link"><%= link_to "my page", user_path(current_user) %></li></div>
          <div class="nav-div"><li><%= link_to 'log out', logout_path, method: "delete" %></li></div>
      <% else %>
          <div class="nav-div"><li><%= link_to 'home', categories_path %></li></div>
          <div class="nav-div"><li><%= link_to 'film categories', categories_path %></li></div>
          <div class="nav-div"><li><%= link_to "all films", films_path %></li></div>
          <div class="nav-div"><li><%= link_to 'sign up', new_user_path %></li></div>
          <div class="nav-div"><li><%= link_to 'login', login_path %></li></div>
      <% end %>
      </ul>
    </nav>
  </header>



<%= yield %>

  <footer>
    <h4>(C) Megan, Christyn, Brian, Adam</h4>
    <a href="https://github.com/ChristynBudzyna/les-film-fest-3">Our Code</a>

  </footer>
</body>
</html>
